<!-- Stats -->
<div class="mx-auto mt-32 max-w-7xl px-6  lg:px-8">
    <div class="mx-auto max-w-7xl lg:mx-0  text-center">
        <h2 class="text-base font-semibold leading-8 text-[#7CBB00]">Nuestro historial</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-[#008037] sm:text-4xl">Con la confianza de miles de propietarios en todo colombia</p>
        <p class="mt-6 text-lg leading-8 text-gray-400">Estas son las metas cuantitativas que hemos logrado alcanzar con nuestra plataforma, sumate a todas estas personas que ya utilizan <span class="font-bold">PHontime</span>.</p>
    </div>
    <dl class="mx-auto mt-16 grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 text-gray sm:mt-20 sm:grid-cols-1 sm:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <div class="flex flex-col justify-center text-center gap-y-3 pl-6">
            <dt class="text-sm leading-6 lg:text-base ">Usuarios activos</dt>
            <dd  appCountUp [targetValue]="totalUsers" class="order-first text-3xl lg:text-5xl text-[#008037] font-semibold tracking-tight">{{totalUsers}}</dd>
        </div>
        <div class="flex flex-col justify-center text-center gap-y-3 border-l border-gray/10 pl-6">
            <dt class="text-sm leading-6 lg:text-base ">Inmuebles registrados</dt>
            <dd  appCountUp [targetValue]="totalPropertys" class="order-first text-3xl lg:text-5xl text-[#008037] font-semibold tracking-tight">{{totalPropertys}}</dd>
        </div>
        <div class="flex flex-col justify-center text-center gap-y-3 border-l border-gray/10 pl-6">
            <dt class="text-sm leading-6 lg:text-base ">Copropiedades</dt>
            <dd  appCountUp [targetValue]="totalCoPropertys" class="order-first text-3xl lg:text-5xl text-[#008037] font-semibold tracking-tight">{{totalCoPropertys}}</dd>
        </div>
    </dl>
