<div class="lg:hidden " role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide ba sed on slide-over state. -->
    <div class="fixed inset-0 z-50  "></div>
    <div [ngClass]="{ 'animate__fadeInRight': show, 'animate__fadeOutRight': !show}" class=" animate__animated  fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-2 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center  justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-24 w-auto" src="assets/images/mobile-menu-logo.png" alt="">
        </a>
        <button type="button" (click)="closeMobileMenu()" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a (click)="closeMobileMenu()" [routerLink]="['/home']" routerLinkActive="active"  class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Inicio</a>
            <a (click)="closeMobileMenu()" [routerLink]="['/company']" routerLinkActive="active"  class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Empresa</a>
            <a (click)="closeMobileMenu()" [routerLink]="['/services']" routerLinkActive="active"  class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Servicios</a>
            <a (click)="closeMobileMenu()" [routerLink]="['/notices']" routerLinkActive="active"  class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Actualidad</a>
            <a (click)="closeMobileMenu()" [routerLink]="['/contact']" routerLinkActive="active"  class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Contáctanos</a>
            <a (click)="closeMobileMenu()" [routerLink]="['/pricing']" routerLinkActive="active"  class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Planes</a>
          </div>
          <div class="py-6">
            <a href="https://app.phontime.co/" target="_blank"href="https://app.phontime.co/" target="_blank" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Inicia sesión</a>
          </div>
        </div>
      </div>
    </div>
  </div>